<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"
xmlns:wfw="http://wellformedweb.org/CommentAPI/"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:atom="http://www.w3.org/2005/Atom"
xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
    <channel>
        <title>The Lost Files</title>
        <link>{{@site.url}}</link>
        <description>{{@site.description}}</description>
        <language>{{@site.locale}}</language>
        <copyright>{{@site.title}} Copyright {{date format="YYYY"}}</copyright>
        <atom:link href="{{@site.url}}/podcast/rss/" rel="self" type="application/rss+xml" />
        <lastBuildDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}</lastBuildDate>
        <itunes:author>{{@site.title}}</itunes:author>
        <itunes:summary>{{@site.description}}</itunes:summary>
        <itunes:owner>
            <itunes:name>Colin Conn</itunes:name>
            <itunes:email>colin@enchiridion.io</itunes:email>
        </itunes:owner>
        <itunes:explicit>clean</itunes:explicit>
        <itunes:image href="{{img_url @site.icon absolute="true"}}"/>
        <itunes:category text="Leasure"> <itunes:category text="Games" /></itunes:category>
            <item>
                <title>Grown-Up Attraction 2</title>
                <itunes:subtitle>Tales from the Loop</itunes:subtitle>
                <pubDate>2023-06-07</pubDate>
                <itunes:episodeType>Full</itunes:episodeType>
                <itunes:episode>2</itunes:episode>
                <itunes:season>2</itunes:season>
                <itunes:duration>2100</itunes:duration>
                <description>
                The thrilling summer-themed adventures of Tales from the Loop continue! The Razorbeaks are back, and this time adults are disappearing! Robots, janitors, and mind-wiped adults are all determined to stop them from cracking the case.
                </description>
                <link>https://www.enchiridion.io/content/media/2023/06/Grown-Up-Attraction-2.mp3</link>
                <guid>https://www.enchiridion.io/content/media/2023/06/Grown-Up-Attraction-2.mp3</guid>
                <enclosure url="https://www.enchiridion.io/content/media/2023/06/Grown-Up-Attraction-2.mp3" length="50000" type="audio/mpeg"/>
            </item>
            <item>
                <title>Grown-Up Attraction 1</title>
                <itunes:subtitle>Tales from the Loop</itunes:subtitle>
                <pubDate>07 JUNE 2023 1:32</pubDate>
                <itunes:episodeType>Full</itunes:episodeType>
                <itunes:episode>1</itunes:episode>
                <itunes:season>2</itunes:season>
                <itunes:duration>2986</itunes:duration>
                <description>
                The thrilling summer-themed adventures of Tales from the Loop continue! The Razorbeaks are back, and this time adults are disappearing! Robots, janitors, and mind-wiped adults are all determined to stop them from cracking the case.
                </description>
                <link>https://www.enchiridion.io/content/media/2023/05/Grown-Up-Attraction-1.mp3</link>
                <guid>https://www.enchiridion.io/content/media/2023/05/Grown-Up-Attraction-1.mp3</guid>
                <enclosure url="https://www.enchiridion.io/content/media/2023/05/Grown-Up-Attraction-1.mp3" length="71669952" type="audio/mpeg"/>
            </item>
            <item>
                <title>Summer Break and Killer Birds - Part 2</title>
                <itunes:subtitle>Tales from the Loop</itunes:subtitle>
                <pubDate>20 MAY 2023 4:30</pubDate>
                <itunes:episodeType>Full</itunes:episodeType>
                <itunes:episode>2</itunes:episode>
                <itunes:season>1</itunes:season>
                <itunes:duration>3420</itunes:duration>
                <description>
                Strange birds are attacking the populace in Boulder, CO., and the Razorbeaks are on the case! 
                </description>
                <link>https://www.enchiridion.io/podcast/summer-break-and-killer-birds-part-2/</link>
                <guid>https://www.enchiridion.io/podcast/summer-break-and-killer-birds-part-2/</guid>
                <enclosure url="https://www.enchiridion.io/content/media/2023/05/Summer-Break-and-Killer-Birds-Part-2.mp3" length="82844928" type="audio/mpeg"/>
            </item>
            <item>
                <title>Summer Break and Killer Birds - Part 1</title>
                <itunes:subtitle>Tales from the Loop</itunes:subtitle>
                <pubDate>20 MAY 2023 4:30</pubDate>
                <itunes:episodeType>Full</itunes:episodeType>
                <itunes:episode>1</itunes:episode>
                <itunes:season>1</itunes:season>
                <itunes:duration>3840</itunes:duration>
                <description>
                Strange birds are attacking the populace in Boulder, CO., and the Razorbeaks are on the case!
                </description>
                <link>www.enchiridion.io/podcast/summer-break-and-killer-bird-part-1/</link>
                <guid>www.enchiridion.io/podcast/summer-break-and-killer-bird-part-1/</guid>
                <enclosure url="https://www.enchiridion.io/content/media/2023/05/Summer-Break-and-Killer-Birds-Part-1.mp3" length="82844928" type="audio/mpeg"/>
            </item>
    </channel>
</rss>
